@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  max-width: 1600px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 /*** HEADER ***/
 header{
  height: 100px; 
}

#nav-principal {
	display: flex;
  justify-content: space-between;
  width: 100%;
}

nav a:hover{
  color:  rgba(179, 186, 189, 1);
}

li{
  list-style-type: none;
}

#toptitle{
  display: flex;
  padding-top: 25px;
  font-size: 18px;
  margin-left: 30px;
}

#connect-but{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-right: 15px;
}

.reg {
  color: white;
  background-color: rgba(179, 186, 189, 1);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
  transition: 0.4s;
}

.reg:hover {
  color: white;
  box-shadow: 0 0 20px (112, 103, 100, 0.6);
  background-color: rgba(24, 170, 254, 1);
}
  
.log {
  color: rgb(24, 170, 254);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
  transition: 0.4s;
}
  
.log:hover {
  color: white;
  box-shadow: 0 0 20px (112, 103, 100, 0.6);
  background-color: rgba(24, 170, 254, 1);
}

header li a:hover{
  color: rgba(179, 186, 189, 1);
}

a{
  text-decoration: none;
}


/*menu burger*/

.menu {
  display: none;
  flex-basis: 100%;
  list-style: none;
  margin-top: 20px;
}

.menu li a{
  display: inline-block;
  padding: 5px 10px 5px 10px;
  letter-spacing: 2.5px;
  font-size: 13px;
}
.menu-checkbox:checked ~ .menu {
  display: block;
}
.menu-checkbox{
  opacity: 0;
  position: absolute;
  top:-5000px;
}

.menu-toggle{
  padding: 1em;
}

.menu-checkbox:focus + .menu-toggle{
  outline: #00A1A1 10px 9px;
}

.nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  z-index: 1;

}

@media screen and (min-width:60em){
  .menu-toggle,
  .menu-checkbox{
    display: none;
  }
  .menu{
    display: block;
    flex-basis: auto;
  }
  .menu li{
    display: inline-block;
  }
}


/***FOOTER***/
footer{
  background-color: #f1f1f1;
  padding:90 0;
}
#footer-container{
  max-width:1300px;
  margin:auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo{
  width: 100px;
  margin-left: 60px;
}

#social-media1{
  display: flex;
  justify-content: space-between;
  font-size:22px;
  text-decoration: none;
  cursor: pointer;
  width : 300px;
}

#social-media, a{
  color: black;
}

#rights-text{
  font-size: 12px;
}

#news {
  font-size: 17px;
}

#border{
  width: 100px;
  height: 4px;
  background: rgba(24, 170, 254,1);
  margin-bottom: 20px;
  margin-top: 10px;
}
#newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}
.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
.btn:hover{
  opacity: .7;
  background-color: rgba(24, 170, 254, 1);
}

/***HEADER + FOOTER RESPONSIVE***/
@media (max-width: 640px) {
  nav{
    padding-left: 0;
    padding-top: 20px;
  }

  #toptitle{
    font-size: 12px;
    margin-top: 20px;
    margin-left: 30px;
  }

  #connect-but{
    display: flex;
    justify-content: space-evenly;
    margin-right: 0;
  }
  
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
  
  #left-col{
    margin-left: 70px;
  }

  #social-media1{
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 30px;
    height: 25px;
  }
  .menu li a{
    font-size: 13px;
  }

  .reg{
    width: 80px;
  }

  .log{
    width: 80px;
  }
}
  @media (min-width: 640px) {
 
  }
  @media (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  
}
  @media (min-width:960px) {
   
  }
  @media (min-width:1100px) {
   
  }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** INDEX ***/
#banner-index{
  display: flex;
  justify-content: space-between;
  height: 600px;
}

#title-index{
  font-size: 82px;
  width: 270px;
  display: flex;
  margin-top: -320px;
  margin-left: 130px;
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -khtml-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
}

#circle {
  display: block;
  background:#18AAFE;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-left: 50px;
}

#presentation-index{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.5%;
}

#text-index{
  display: flex;
  padding-left: 20px;
}

#link-index{
  background-color: black;
  margin-top: 20px;
  padding: 15px 10px;
  color: whitesmoke;
}

#link2-index{
  padding: 15px 10px;
  color: gray;
  font-size: 13px;
}

/***INDEX RESPONSIVE***/
@media (max-width: 640px) {
  #banner-index{
   flex-direction: column;
   padding-top: 10px;
   padding-left: 0;
   padding-right: 0;
   justify-content: space-evenly;
  }
  #title-index{
    font-size: 40px;
    margin-top: -160px;
    margin-left: 80px;
    width: 160px;
  }
  #circle {
    display: block;
    height: 145px;
    width: 35%;
    margin-left: 40px;
    margin-top: 30px;
  }
  #presentation-index{
    margin-left: 0;
    width: 100%;
    font-size: 12px;
  }
  #text-index{
    width: 70%;
    padding-left: 5px;
  }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** CONNEXION ***/
#container-connexion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

#form-connexion{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 360px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  box-shadow:0 10px 40px rgba(0,0,0,0.08);
  font-size: 12px;
}

#form-title{
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 40px;
  justify-content: center;
  padding-top: 15px;
}

#subtitle-connexion{
  display: flex;
  font-size: 18px;
  color: #18AAFE;
  width: 100%;
  height: 40px;
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #C4C3BF;
}

.part1-connexion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-top: 20px;
  width: 95%;
}

#ins-connexion{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: aqua;
  padding: 10px 10px;
  width: 95%;
}

#log-connexion {
  color:white;
  background-color: black;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 30px 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
  transition: 0.4s;
}
  
#log-connexion:hover {
  color: white;
  box-shadow: 0 0 20px (112, 103, 100, 0.6);
  background-color: rgba(24, 170, 254, 1);
}

#message{
  display: flex;
  color: red;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: -100px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/****INSCRIPTION****/

#container-inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.form-inscription {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow:0 10px 40px rgba(0,0,0,0.08);

}

.toptitre {

  font-size: 30px;


}

.titre {

  font-size: 20px;
  color: #18AAFE;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #C4C3BF;

}

.champs {

  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2%;


}

.cadre {

  border: 1px solid rgba(24, 170, 254, 0.137);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(56, 56, 94, 0.226);
  height: 25px;
  width: 55%;
  margin-bottom: 6%;

}

.button {

  color:white;
  background-color: black;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.4s;
  margin-bottom: 5%;
}

.button:hover {

  color: white;
  background-color: #18AAFE;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** COMMENTAIRE ***/
#container-com{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#subtitle-com{
  display: flex;
  text-align: center;
  background-color: #18AAFE;
  color: white;
  font-size: 20px;
  padding: 20px 10px;
  z-index: -1;
}

#title-com{
  display: flex;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  z-index: -1;
}

#container-form{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

#textarea-com{
  justify-content: center;
  background-color: white;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  border:1px solid gray;
  margin-top: 5px;
  padding:4px;
  width:100%;
  height: 180px ;
  font-size: 13px;
  color: #064F0E;
}
#button-com{
  color: #18AAFE;
  background-color: white;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
  transition: 0.4s;
}

#error-com{
  display: flex;
  width: 100%;
  padding: 10px 10px;
  color: red;
  text-align: center;
}

/***COMMENTAIRE RESPONSIVE***/
@media (max-width: 640px) {
  #textarea-com{
    width:80%;
  }
  #error-com{
    width: 90%; 
    margin-left: 10px;
  }
}

/****PROFIL***/

#container-profil {

  display: flex;
  flex-direction: column;
  height: 700px;
  width: 650px;
  margin: auto;
  margin-top: 3%;


}

#form-profil {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow:0 10px 40px rgba(0,0,0,0.08);


}