@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  max-width: 1600px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 /*** HEADER ***/
 header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; 
}

nav {
	display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 30px;
}

li{
  list-style-type: none;
}

#toptitle{
  font-size: 18px;
}

.reg {
  color: white;
  background-color: rgba(179, 186, 189, 1);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
  transition: 0.4s;
}

.reg:hover {
  color: white;
  box-shadow: 0 0 20px (112, 103, 100, 0.6);
  background-color: rgba(24, 170, 254, 1);
}
  
.log {
  color: rgb(24, 170, 254);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
  transition: 0.4s;
}
  
.log:hover {
  color: white;
  box-shadow: 0 0 20px (112, 103, 100, 0.6);
  background-color: rgba(24, 170, 254, 1);
}

a{
  text-decoration: none;
}

/***FOOTER***/
footer{
  background-color: #f1f1f1;
  padding:90 0;
}
#footer-container{
  max-width:1300px;
  margin:auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo{
  width: 100px;
  margin-left: 60px;
}

#social-media1{
  display: flex;
  justify-content: space-between;
  font-size:22px;
  text-decoration: none;
  cursor: pointer;
  width : 300px;
}

#social-media, a{
  color: black;
}

#rights-text{
  font-size: 12px;
}

#news {
  font-size: 17px;
}

#border{
  width: 100px;
  height: 4px;
  background: rgba(24, 170, 254,1);
  margin-bottom: 20px;
  margin-top: 10px;
}
#newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}
.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
.btn:hover{
  opacity: .7;
  background-color: rgba(24, 170, 254, 1);
}

/***HEADER + FOOTER RESPONSIVE***/
@media (max-width: 640px) {
  nav{
    padding-left: 15px;
  }

  #toptitle{
    font-size: 14px;
  }

  #connect-but{
    display: flex;
  }
  
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
  
  #left-col{
    margin-left: 70px;
  }

  #social-media1{
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 30px;
    height: 25px;
  }
}
  @media (min-width: 640px) {
 
  }
  @media (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  
}
  @media (min-width:960px) {
   
  }
  @media (min-width:1100px) {
   
  }
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** INDEX ***/
#banner-index{
  display: flex;
  justify-content: space-between;
  height: 600px;
}

#title-index{
  font-size: 82px;
  width: 270px;
  display: flex;
  margin-top: -320px;
  margin-left: 130px;
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -khtml-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
}

#circle {
  display: block;
  background:#18AAFE;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-left: 50px;
}

#presentation-index{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.5%;
}

#text-index{
  display: flex;
  padding-left: 20px;
}

#link-index{
  background-color: black;
  margin-top: 20px;
  padding: 15px 10px;
  color: whitesmoke;
}

#link2-index{
  padding: 15px 10px;
  color: gray;
  font-size: 13px;
}

/***INDEX RESPONSIVE***/
@media (max-width: 640px) {
  #banner-index{
   flex-direction: column;
   padding-top: 10px;
   padding-left: 0;
   padding-right: 0;
   justify-content: space-evenly;
  }
  #title-index{
    font-size: 40px;
    margin-top: -160px;
    margin-left: 80px;
    width: 160px;
  }
  #circle {
    display: block;
    height: 145px;
    width: 35%;
    margin-left: 40px;
    margin-top: 30px;
  }
  #presentation-index{
    margin-left: 0;
    width: 100%;
    font-size: 12px;
  }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** CONNEXION ***/
#container-connexion{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

#form-connexion{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 360px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  box-shadow:0 10px 40px rgba(0,0,0,0.08);
  font-size: 12px;
}

#form-title{
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 40px;
  justify-content: center;
  padding-top: 15px;
}

#subtitle-connexion{
  display: flex;
  font-size: 18px;
  color: #18AAFE;
  width: 100%;
  height: 40px;
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #C4C3BF;
}

.part1-connexion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-top: 20px;
  width: 95%;
}

#ins-connexion{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: aqua;
  padding: 10px 10px;
  width: 95%;
}

#log-connexion {
  color:white;
  background-color: black;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 30px 10px;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(112, 103, 100, 0.3);
  transition: 0.4s;
}
  
#log-connexion:hover {
  color: white;
  box-shadow: 0 0 20px (112, 103, 100, 0.6);
  background-color: rgba(24, 170, 254, 1);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


